<ion-header>
    <ion-toolbar>
        <ion-title> Bienvenido {{usuario.nombre}} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Inicio</a
    >
    <a
      class="nav-item nav-link"
      id="nav-profile-tab"
      data-toggle="tab"
      href="#nav-profile"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      >Usuario</a
    >
    <a
      class="nav-item nav-link"
      id="nav-contact-tab"
      data-toggle="tab"
      href="#nav-contact"
      role="tab"
      aria-controls="nav-contact"
      aria-selected="false"
      >Configuración</a
    >
  </div>
</nav>

<!-- FICHADO -->
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
  >
  <!-- SELECCION TRABAJO -->
  <!-- <form >    [formGroup]="registerForm" (ngSubmit)="onSubmit()" -->
  <ion-list>    
    <ion-item>
      <ion-label class="resaltado">Selecciona trabajo</ion-label>
      <ion-select okText="OK" cancelText="Cancelar" [(ngModel)]="trabajo" name="xx">
        <ion-select-option *ngFor="let item of trabajos" [value]="item" (ionSelect)="asignarTrabajo(item)">{{ item.nombre }}</ion-select-option>
      </ion-select>
    </ion-item> 

    <!-- TIPO JORNADA -->
    <!-- <ion-item>
      <ion-label class="resaltado" >Jornada continua</ion-label>
      <ion-toggle color="primary"  [(ngModel)]="jornadaContinua" checked name="sdsd"></ion-toggle>
    </ion-item> -->

    <!-- FECHA -->
    <ion-item>
      <ion-label class="resaltado">Fecha</ion-label>
      <ion-datetime disabled   display-format="YYYY-MM-DD" done-text="OK" cancel-text="Cancelar" [(ngModel)]="fecha"></ion-datetime>
    </ion-item>

  

  </ion-list>


  <div *ngIf="!jornadaContinua">
    <br>
      <p class="resaltado">Mañana:</p>
  </div>
  
  <ion-list>
      <ion-item>
          <ion-label class="resaltado">Desde</ion-label>
          <ion-datetime display-format="HH:mm" done-text="OK" cancel-text="Cancelar" minuteValues="0,15,30,45" [(ngModel)]="horaInicioManana" ></ion-datetime>
        </ion-item>
      <ion-item>
          <ion-label class="resaltado">Hasta</ion-label>
          <ion-datetime display-format="HH:mm" done-text="OK" cancel-text="Cancelar" minuteValues="0,15,30,45" [(ngModel)]="horaFinManana"></ion-datetime>
        </ion-item>

  </ion-list>
  
  
  <div *ngIf="!jornadaContinua">
    <br>
    <p class="resaltado">Tarde:</p>
    <ion-list>
      <ion-item>
        <ion-label class="resaltado">Desde</ion-label>
        <ion-datetime display-format="HH:mm" done-text="OK" cancel-text="Cancelar" minuteValues="0,15,30,45" [(ngModel)]="horaInicioTarde"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="resaltado">Hasta</ion-label>
        <ion-datetime display-format="HH:mm" done-text="OK" cancel-text="Cancelar" minuteValues="0,15,30,45" [(ngModel)]="horaFinTarde"></ion-datetime>
      </ion-item>
      
    </ion-list>
  </div>

  <ion-list>
<!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [(ngModel)]="comentario"></textarea> -->
<textarea class="jumbotron"  id="exampleFormControlTextarea1" rows="5" [(ngModel)]="comentario" placeholder="Tareas realizadas..."></textarea>
</ion-list>

  <ion-button color="primary" expand="block" (click)="ficharDiaUsuario();" >Fichar</ion-button>
  <!-- type="submit" -->
<!-- </form> -->





  </div>

  <!-- USUARIO -->
  <div
    class="tab-pane fade"
    id="nav-profile"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
  <br>
    <form>
      <div class="form-group">
        <label for="exampleInputNombre">Nombre</label>
        <p>{{usuario.nombre}}</p><hr>
        <!-- <input
          type="text"
          class="form-control"
          id="exampleInputNombre"
          aria-describedby="ApellidosHelp"
          placeholder="Nombre"
          [value]="usuario.nombre"
        /> -->
      </div>
      <div class="form-group">
        <label for="exampleInputApellidos">Apellidos</label>
        <p>{{usuario.apellidos}}</p><hr>
        <!-- <input
          type="text"
          class="form-control"
          id="exampleInputApellidos"
          aria-describedby="ApellidosHelp"
          placeholder="Apellidos"
          [value]="usuario.apellidos"
        /> -->
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        
        <p>{{usuario.email}}</p><hr>
        <!-- <input
          type="email"
          class="form-control"
          id="exampleInputEmail"
          placeholder="Email"
          [value]="usuario.email" readonly
        /> -->
      </div>


      <h4>Trabajos:</h4>
          <ngb-accordion [closeOthers]="true" activeIds="static-1" *ngIf="trabajos">
            <ngb-panel id="{{trabajo.nombre}}" [title]="trabajo.nombre" *ngFor="let trabajo of trabajos;">
              <ng-template ngbPanelContent>
                {{trabajo.descripcion}}
              </ng-template>
            </ngb-panel>
            
          </ngb-accordion>
    </form>
  </div>
  <!-- CAMBIO CONTRASENA -->
  <div
    class="tab-pane fade"
    id="nav-contact"
    role="tabpanel"
    aria-labelledby="nav-contact-tab"
  >
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Email"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword"
          placeholder="Contraseña"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Nueva contraseña</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Nueva contraseña"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Repita contraseña.</small
        >
      </div>
      <!--
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
      -->
      <button type="button" class="btn btn-primary">
        Actualizar contraseña
      </button>
    </form>
  </div>
</div>

<!-- <button [routerLink]="['/login']" routerLinkActive="router-link-active">
  Login
</button>
<button [routerLink]="['/admin']" routerLinkActive="router-link-active">
  Admin
</button> -->


<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

</ion-content>